
@using Web.Models;
@model List<TG_Category>
    @{
        var UserInfo = ViewBag.UserInfo as TG_User;
     }
<style>
    #dataForm p {
        text-align: center;
    }

    ul li {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
</style>
<!--编辑用户-->
<form id="dataForm">
    <input type="hidden" name="ID" value="@UserInfo.ID" />
    <input type="hidden" name="iUserType" value="@UserInfo.iUserType" />
    <input type="hidden" name="sPassword" value="@UserInfo.sPassword" />
    <div style="padding-left:5px;margin:auto;margin-top:20px;">
        <p>
            <label>账户：</label><input class="easyui-textbox" name="sUserName" style="width:200px" data-options="required:true,validType:'length[3,20]'"
                                     invalidmessage="账户长度介于3-20之间" value="@UserInfo.sUserName">
        </p>
        <p>
            <label>姓名：</label><input class="easyui-textbox" name="sRealName" style="width:200px" value="@UserInfo.sRealName">
        </p>
        <p>
            <label>电话：</label><input class="easyui-textbox" name="sPhone" style="width:200px" validType="isPhone" value="@UserInfo.sPhone">
        </p>
        <p>
            <label>权限设置：</label>
            <ul style="list-style:none">
                @foreach (var category in Model)
                {
                    <li><input type="checkbox" value="@category.ID" class="select_category" />@(category.sName)&nbsp;</li>
                }
            </ul>
        </p>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        $('.select_category').iCheck({
            labelHover: false,
            cursor: true,
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%'
        });

        var sCategoryIds = '@UserInfo.sCategoryIds';
        if (sCategoryIds) {
            var array = sCategoryIds.split(',');
            $(array).each(function () {
                $('.select_category[value="' + this + '"]').iCheck('check');
            });
        }
    });
</script>