@using Web.Server;
@using Web.Models;
@{
    var Category = Model as TG_Category;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>泸州市公安交警信息网</title>
    <link href="/Html/css/base.css" rel="stylesheet" type="text/css" />
    <link href="/Html/css/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Html/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/Html/js/nav.js"></script>
</head>
<body>
    @Include("top")
    <div class="container mg-t-b container_col">
        <div class="page-left">
            <div class="pagelist">
                @{ var child=FuncHelper.Instance.GetChildCategory(Category.CategoryId);}
                <ul class="listbox">
                    @foreach (var item in child)
                    {
                    if (item.bIsRedirect == true)
                    {
                    <li><a target="_blank" href="@item.sRedirectUrl">@item.sName</a></li>
                    }
                    else
                    {
                    if (item.bIsContentCategory == true)
                    {
                    <li><a target="_blank" href="@FuncHelper.Instance.GetCategoryHtmlUrl(item.ID)">@item.sName</a></li>
                    }

                    if (item.bIsContentCategory == null)
                    {
                    <li><a target="_blank" href="@FuncHelper.Instance.GetCategoryHtmlUrl(item.ID, 1)">@item.sName</a></li>
                    }
                    }
                    }
                </ul>
            </div>
        </div>
        <div class="page-right">
            <div class="pagelujing">
                <div class="name">@Category.sName</div>
                <span>
                    您当前所在位置：<a>首页</a>
                    @foreach (var location in FuncHelper.Instance.GetCategoryLocation(Category.ID))
                    {
                    @:><a>@location</a>
                    }
                </span>
            </div>
            <div class="article_txt">
                @RazorBase.RazorHelper.Raw(Category.sContent)
            </div>
            <div></div>
        </div>
        <div class="clearfix"></div>
    </div>
    @Include("bottom")
</body>
</html>
