@using Web.Server;
@using Web.Models;
@{
    var Category = Model as TG_Category;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="agent-pc theme-b theme-bwhite">
<head>
    @Include("quote");
    <script src="~/page/statics/js/main.js" data-main="baseMain"></script>
</head>
<body id="longPage" class="gh0  longPage">
    <!--头部-->
    @Include("top");
    <div id="sitecontent" class="ff_sitecontent">
        <!--栏目列表手机端-->
        @Include("list");
        <div class="npagePage ff_pageList">
            <div id="banner">
                <div style="background-image:url(@Category.sPictureUrl.Split(',')[0]);"></div>
            </div>
            <div id="pageTarget" class="ff_pageTarget module">
                <div class="module_container">
                    <div class="container_target wow">
                        您的位置：
                        <a href="/">首页</a><i class="fa fa-angle-right"></i>
                        <a href="#">@Category.sName</a>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
            <div class="content">
                <div class="mpageEditor module">
                    <div class="module_container">
                        <div class="container_header wow">
                            <p class="title">@Category.sName</p>
                            <p class="subtitle">@Category.sEnName</p>
                        </div>
                        <div class="container_content">
                            <div class="content_wrapper">
                                <div class="postbody">
                                    <p><br /></p>
                                    <div id="mcontact" class="mcontact module">
                                        <div class="module_container">
                                            <div class="container_content">
                                                <div class="content_wrapper">
                                                    <div id="contactlist" class="contactlist">
                                                        <div id="contactinfo" class="contactinfo wow">
                                                            @{ var config=FuncHelper.Instance.GetConfig(); }
                                                            <h3 class="ellipsis contact_name">@config.sSiteName</h3>
                                                            <p class="ellipsis contact_add">地址：@config.sAddress</p>
                                                            <p class="ellipsis contact_tel">电话：@config.sMobile</p>
                                                            <p class="ellipsis contact_mob">手机：@config.sPhone</p>
                                                            <p class="ellipsis contact_fax">传真：@config.sFax</p>
                                                            <p class="ellipsis contact_eml">邮箱：@config.sEmail</p>
                                                            <div class="ff_social">
                                                                <a class="fl" target="_blank" href="http://weibo.com/web"><i class="fa fa-weibo"></i></a>
                                                                <a class="fl" target="_blank" href="tencent://message/?uin=@config.sQQNum&Site=uemo&Menu=yes"><i class="fa fa-qq"></i></a>
                                                                <a id="mpbtn" class="fl" target="_blank" href="~/page/statics/images/1438424052624.jpg"><i class="fa fa-weixin"></i></a>
                                                            </div>
                                                        </div>
                                                        <div id="contactform" class="contactform wow">
                                                            <form id="client_form">
                                                                <p class="contactform_name">
                                                                    <input type="text" class="inputtxt" name="sName" placeholder="姓名" autocomplete="off" />
                                                                </p>
                                                                <p class="contactform_eml">
                                                                    <input type="text" class="inputtxt" name="sEmail" placeholder="邮箱" autocomplete="off" />
                                                                </p>
                                                                <p class="contactform_tel">
                                                                    <input type="text" class="inputtxt" name="sPhone" placeholder="电话" autocomplete="off" />
                                                                </p>
                                                                <p class="contactform_content">
                                                                    <textarea class="inputtxt" name="sContent" placeholder="内容" autocomplete="off"></textarea>
                                                                </p>
                                                                <p class="contactform_submit">
                                                                    <input class="inputtxt" id="commit" value="提交" />
                                                                </p>
                                                            </form>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
    @Include("bottom");
</body>
</html>
<script type="text/javascript">
    $(function () {
        $('#commit').on("click", function () {
            var sName = $.trim($('input[name=sName]').val());
            var sEmail = $.trim($('input[name=sEmail]').val());
            var sPhone = $.trim($('input[name=sPhone]').val());
            var sContent = $.trim($('input[name=sContent]').val());
            if (sName.length == 0) return alert("姓名不能为空");
            if (sPhone.length == 0) return alert("电话不能为空");
            $.ajax({
                url: '/Client/Add',
                type: 'POST',
                data: { sName: sName, sEmail: sEmail, sPhone: sPhone, sContent: sContent },
                dataType: 'json',
                success: function (r) {
                    if (r.success) {
                        alert("提交成功,客服人员将尽快联系您");
                    }
                    else {
                        alert("提交失败");
                    }
                }
            });
        });
    });
</script>