@using Web.Server;
@using Web.Models;
@{  var Category = Model as TG_Category; }
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>泸州市公安交警信息网</title>
    <link href="/Html/css/base.css" rel="stylesheet" type="text/css" />
    <link href="/Html/css/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Html/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/Html/js/nav.js"></script>
</head>
<body>
    @Include("top")
    <div class="container mg-t-b container_col">
        <div class="page-right" style="padding:0 30px;float:none;width:auto">
            <div class="pagelujing">
                <div class="name">@Category.sName</div>
                <span>
                    您当前所在位置：
                    <a>首页</a>
                    @foreach (var location in FuncHelper.Instance.GetCategoryLocation(Category.ID))
                    {
                    @:><a>@location</a>
                    }
                </span>
            </div>
            <div class="news-txt ny mg-t-b">
                <div class="news-con">
                    <ul class="newslist ny">
                        @foreach (var article in FuncHelper.Instance.GetAllArticleListByCategoryId(Category.ID))
                        {
                        <li>
                            <a>@article.sTitle</a>
                            <span style="display:inline-block;margin-right:150px;">@article.dInsertTime.Value.ToString("yyyy-MM-dd HH:mm")</span>
                            <span><a href="/Download/Index?ID=@article.ID" style="font-size:12px;color:black;cursor:pointer">点击下载</a></span>
                        </li>
                        }
                    </ul>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>
    @Include("bottom")
</body>
</html>
