@using Web.Server;
@using Web.Models;
@{
    var Category = Model as TG_Category;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="agent-pc theme-b theme-bwhite">
<head>
    @Include("quote");
    <script src="~/page/statics/js/main.js" data-main="baseMain"></script>
</head>
<body id="longPage" class="gh0  longPage">
    <!--头部-->
    @Include("top");
    <div id="sitecontent" class="ff_sitecontent">
        <!--栏目列表手机端-->
        @Include("list");
        <div class="npagePage ff_pageList">
            <div id="banner">
                <div style="background-image:url(@Category.sPictureUrl.Split(',')[0]);"></div>
            </div>
            <div id="pageTarget" class="ff_pageTarget module">
                <div class="module_container">
                    <div class="container_target wow">
                        您的位置：
                        <a href="/">首页</a><i class="fa fa-angle-right"></i>
                        <a href="#">@Category.sName</a>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
            <div class="content">
                <div class="mlist service_tabs module ff_noSlider">
                    <div class="bgmask"></div>
                    <div class="module_container">
                        <div class="container_content nocat">
                            <div class="content_wrapper">
                                <div class="tab_content_wrapper">
                                    <div class="tab_content">
                                        <div class="tab_indexs">
                                            <div class="fnums nums_item" data-current="0">
                                                <div><span>0</span><span>1</span><span>2</span></div>
                                            </div>
                                            <div class="tnums nums_item">
                                                <div><span>0</span><span>1</span><span>2</span><span>3</span><span>4</span><span>5</span><span>6</span><span>7</span><span>8</span><span>9</span></div>
                                            </div>
                                            <div class="nums_item">
                                                <div><span> /</span></div>
                                            </div>
                                        </div>
                                        <div class="sliderWrapper" data-slider-num="1">
                                            <div class="content_list">
                                                @{ var acticlelist = FuncHelper.Instance.GetArticleListByCategoryId(Category.ID); }
                                                @for (var i=0;i< acticlelist.Count;i++)
                                                {
                                                <div id="service_postitem_@i" class="item_block">
                                                    <div class="item_wrapper">
                                                        <div class="item_info">
                                                            <p class="title ellipsis">@acticlelist[i].sTitle</p>
                                                            <p class="subtitle ellipsis">@acticlelist[i].sEnTitle</p>
                                                            <div class="description">
                                                                <p>@acticlelist[i].sContent</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab_button">
                                    <div class="content_list">
                                        @for (var i = 0; i < acticlelist.Count; i++)
                                        {
                                        <div id="service_item_@i" class="item_block wow" style="animation-delay:.0s">
                                            <a href="javascript:;" class="item_link">
                                                <div class="item_wrapper">
                                                    <div class="item_img"><img src="@acticlelist[i].sPictureUrl.Split(',')[0]" /></div>
                                                    <div class="item_info">
                                                        <p class="nums">@i/</p>
                                                        <p class="title ellipsis">@acticlelist[i].sTitle</p>
                                                        <p class="subtitle ellipsis">@acticlelist[i].sEnTitle</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        }

                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div id="pages">
                                <a href="#" class="page-item  active">1</a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!--底部-->
    @Include("bottom");
</body>
</html>