


@using Web.Models;
@model TG_Article
@{ string iTemplateId = Model.iTemplateId == 0 ? string.Empty : Model.iTemplateId.ToString(); }
<!--编辑文章视图-->
<form id="dataForm">
    <input type="hidden" name="ID" value="@Model.ID" />
    @if (Model.bIsRelease)
    {
        <input type="hidden" name="bIsRelease" value="true" />
    }
    else
    {
        <input type="hidden" name="bIsRelease" value="false" />
    }
    <table class="gridtable">
        <tr>
            <td>所属栏目:</td>
            <td>
                <input class="easyui-combotree" value="@Model.iCategoryId" name="iCategoryId" data-options="url:'/Category/CategoryComtreeData?IsGen=0',required:true,panelHeight:'auto'">
            </td>
            <td>文章属性:</td>
            <td>
                @*<input type="checkbox" name="bIsRelease" value="true" class="bIsRelease" />发布&nbsp;&nbsp;*@
                <input type="checkbox" name="bIsSlide" value="true" class="bIsSlide" />最新 &nbsp;&nbsp;
                <input type="checkbox" name="bIsTop" value="true" class="bIsTop" />置顶 &nbsp;&nbsp;
                <input type="checkbox" name="bIsHot" value="true" class="bIsHot" />热点
            </td>
        </tr>
        <tr>
            <td>文章标题:</td>
            <td colspan="3">
                <input class="easyui-textbox" name="sTitle" style="width:500px" value="@Model.sTitle">
            </td>
        </tr>
        <tr>
            <td>英文标题:</td>
            <td colspan="3">
                <input class="easyui-textbox" name="sEnTitle" style="width:500px" value="@Model.sEnTitle">
            </td>
        </tr>
        <tr>
            <td>发布时间:</td>
            <td>
                <input type="text" class="easyui-datebox" name="dPublishTime" value="@Model.dPublishTime" />
            </td>
            <td>独立模板:</td>
            <td>
                <input name="iTemplateId" class="easyui-combobox" value="@iTemplateId" data-options="url:'/Templet/comboxData',valueField:'ID',
                        textField:'sTempletName',editable:false,height:25,width:173">
            </td>
        </tr>
        <tr>
            <td>信息版本:</td>
            <td>
                <input class="easyui-textbox" name="sVersion" value="@Model.sVersion">
            </td>
            <td>信息大小:</td>
            <td>
                <input class="easyui-textbox" name="sSize" value="@Model.sSize">
            </td>
        </tr>
        <tr>
            <td>信息语言:</td>
            <td>
                <input class="easyui-textbox" name="sLang" value="@Model.sLang">
            </td>
            <td>作者/提供商:</td>
            <td>
                <input class="easyui-textbox" name="sAuthor" value="@Model.sAuthor">
            </td>
        </tr>
        <tr>
            <td>导图尺寸:</td>
            <td>
                <input class="easyui-textbox" type="text" name="sPictureSize" value="@Model.sPictureSize" />
            </td>
            <td>摘要/运行环境:</td>
            <td>
                <input class="easyui-textbox" name="sSummary" value="@Model.sSummary">
            </td>
        </tr>
        <tr>
            <td>文章导图:</td>
            <td colspan="3">
                <div id="sPictureUrl"></div>
                <input type="hidden" name="sPictureUrl" value="@Model.sPictureUrl" />
            </td>
        </tr>
        <tr>
            <td>文章描述:</td>
            <td colspan="3">
                <textarea name="sDescription" style="width:650px;height:80px">@Model.sDescription</textarea>
            </td>
        </tr>
        <tr>
            <td>文章关键字:</td>
            <td colspan="3">
                <textarea name="sKeyword" style="width:650px;height:80px">@Model.sKeyword</textarea>
            </td>
        </tr>
        <tr>
            <td>文章内容:</td>
            <td colspan="3">
                <textarea id="sContent" name="sContent" style="width:650px;height:400px;">@Model.sContent</textarea>
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    $('.bIsRelease,.bIsTop,.bIsSlide,.bIsHot').iCheck({
        labelHover: false,
        cursor: true,
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%'
    });

    @*var bIsRelease = '@Model.bIsRelease' == "True" ? true : false;*@
    var bIsSlide = '@Model.bIsSlide' == "True" ? true : false;
    var bIsTop = '@Model.bIsTop' == "True" ? true : false;
    var bIsHot = '@Model.bIsHot' == "True" ? true : false;

    //if (bIsRelease) $('.bIsRelease').iCheck('check');
    if (bIsSlide) $('.bIsSlide').iCheck('check');
    if (bIsTop) $('.bIsTop').iCheck('check');
    if (bIsHot) $('.bIsHot').iCheck('check');


    var pciture = new dpictures();
    pciture.create("sPictureUrl");
</script>
